.checkers-wrapper {
  max-width: 36.74%;
  margin: 10px auto;
}

.checkers-menu {
  height: 100%;
  background: url('../images/background-texture.jpg');
  background-size: 100% 100%;
}

.checkers-logo {
  max-width: 100%;
  display: block;
  margin: 0px auto;
}

.checkers-logo:hover {
  cursor: pointer;
}

.checkers-menu-list img,
.game-modes-list img {
  max-width: 100%;
  display: block;
  margin: 0px auto;
  padding: 30px;
}

.game-modes-list img:last-child {
  padding-bottom: 60px;
}

.checkers-menu-list img:last-child {
  padding-bottom: 60px;
}

.game-modes-list {
  display: none;
}

.checkers-menu-list img:hover,
.game-modes-list img:hover {
  transform: scale(1.2);
}

.board-wrapper {
  width: 700px;
  position: relative;
  display: none;
}

.home-button {
  width: 50px;
  height: 50px;
  float: left;
}

.board {
  width: 700px;
  height: 700px;
  border: 4px solid;
  border-spacing: 0;
}

.scoreboard {
  float: right;
}

.turn-text {
  font-size: 25px;
  font-weight: bolder;
  color: blue;
  float: left;
  padding: 10px;
}

.turn-text span {
  text-transform: capitalize;
}

.red-text {
  color: red;
}

.black-text {
  color: black;
}

.recommended-move {
  display: none;
}

.recommended-move-section {
  color: blue;
}

.recommended-move-section p {
  font-size: 25px;
  font-weight: bolder;
  white-space: nowrap;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  display: none;
  background: url('../images/background-texture.jpg');
  border: 2px solid;
  border-radius: 10px;
}

.winning-message {
  width: fit-content;
  margin: 20px auto;
  font-size: 30px;
  font-weight: bolder;
  color: #fff;
}

.winner {
  text-transform: capitalize;
}

.return-to-main-menu {
  width: 100%;
  padding: 20px 20px;
}

.score-red-wrapper,
.score-black-wrapper {
  float: left;
  padding: 0px 5px;
  position: relative;
}

.red-score-text,
.black-score-text {
  position: absolute;
  top: 20%;
  left: 27%;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  color: #fff;
}

.black-square {
  background: url('../images/dark-texture.jpg');
  background-size: 100% 100%;
  position: relative;
}

.white-square {
  background: url('../images/light-texture.jpg');
  background-size: 100% 100%;
  position: relative;
}

.bordered-square {
  border: 4px solid;
  border-radius: 5px;
}

.bordered-piece {
  border: 5px solid;
  border-radius: 100%;
  color: #fff;
}

.bottom-labels {
  position: absolute;
  right: 50%;
  top: 105%;
  font-weight: bolder;
}

.left-labels {
  position: absolute;
  right: 108%;
  top: 50%;
  font-weight: bolder;
}

.red-piece {
  width: 90%;
  height: 90%;
  margin: 0px auto;
  background: url('../images/red-piece.png');
  background-size: 100% 100%;
}

.black-piece {
  width: 90%;
  height: 90%;
  margin: 0px auto;
  background: url('../images/black-piece.png');
  background-size: 100% 100%;
}

.red-king {
  width: 90%;
  height: 90%;
  margin: 0px auto;
  background: url('../images/red-king.png');
  background-size: 100% 100%;
}

.black-king {
  width: 90%;
  height: 90%;
  margin: 0px auto;
  background: url('../images/black-king.png');
  background-size: 100% 100%;
}

.instructions-page {
  display: none;
  padding: 0px 20px;
  overflow: scroll;
  height: 450px;
}

.instructions-page li {
  padding: 10px 0px;
  font-size: 25px;
  font-weight: bolder;
  list-style: none;
}

@media screen and (max-width: 992px) {
  .checkers-wrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .checkers-wrapper {
    max-width: 100%;
  }

  .board-wrapper {
    width: 100%;
  }

  .board {
    width: 100%;
  }
}
